* {
    margin: 0;
    padding: 0;
}

//  nav !!!!!

nav{
    .navbar-nav{
        width: 40vw;
        align-items: center;
        justify-content: space-between;
    }
    .container-fluid{
        width: 100vw;
        display: flex;
        justify-content: space-between;
    }
}


// !!!!!

body{
    height: 100vh;
    width: 100%;
}

.down-of-modal{
    height: 70%;
    .loging-input{
        height: 30%;
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2vh;
        width: 100%;
        .input-log{
            border-radius: 20px;
            width: 80%;
            height: 5vh;
            padding: 2vh;
        }
    }
}

.log{
    width: 10vw;
    height:5vh;
    border-radius: 10px;
}

.signin-button2{
    // border-radius: 20px;
    background-color: #ce1212;
    color: #e1e1e1;

}
.loging-button{
    // border-radius: 20px;
    background-color: #ce1212;
    color: #e1e1e1;
}

.close{
    width: 10vw;
    height:5vh;
    background-color: #eeeeee;
    border: solid;
    border-radius: 10px;
}

.header-modal{
    height: 10vh;
    border-radius: 20px;
}

.top-of-modal{
    height: 70vh;
    width: 30vw;
    border-radius: 20px;
    background-color: #e1e1e1;
    box-shadow: rgba(255, 0, 0, 0.826) 0px 5px 15px;

}

.modal-2{

}

.myModal{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00000074;
}

.test{
    height: 200vh;
}

// !!!!!

// back to top

.back {
    position: fixed;
    bottom: 2vh;
    right: 4vw;
    z-index: 10;
    
    .top {
        height: 100px;
        width: 100px;
        bottom: 40px;
        right: 0px;
        
        .scroll {
            font-size: 50px;
        }
    }
}

//  sec1

.sec-1 {
    background-color: #eeeeee;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;

    .titre1 {
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }

    .title {
        width: 30vw;
    }

    .t-paragraphe {
        width: 30vw;
    }

    .buttons {
        display: flex;
        gap: 5vw;
        padding-inline: 10px;

        .book {
            color: aliceblue;
            height: 6vh;
            width: 10vw;
            border-radius: 20px;
            background-color: (#ce1212);
            border: none;
        }

        .watch {
            border: none;
            height: 6vh;
            width: 10vw;
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: transparent;

            .play {
                font-size: xx-large;
            }
        }
    }
}

// *

.sec-2 {
    height: 115vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .right-div {
        width: 30%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .up {
            height: 40%;
            display: flex;
            flex-direction: column;
            padding-bottom: 20px;
            gap: 1vh;
        }

        .down {
            background-image: url(../../../../public/images/img/about-2.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30vw;
            height: 40%;
            .playVideo{
                display: flex;
                justify-content: center;
                align-items: center;
                width:fit-content;
                height: fit-content;
                animation: pulse 0.2s infinite;
            }
        }
    }

    @keyframes pulse {
        0%{
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.826);
        }
        70%{
            transform: scale(1);
            box-shadow: 0 0 0 0 rgba(255, 110, 110, 0.826);
        }
        100%{
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(78, 0, 0, 0.826);
        }

    }

    .bg-image {
        background-image: url(../../../../public/images/img/about\(1\).jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 60%;
        height: 90%;
        display: flex;
        position: relative;

        .white {
            height: 13vh;
            width: 10vw;
            padding: 10px;
            position: absolute;
            bottom: 5vh;
            right: 13vw;
        }
    }
}

// * 

.sec-3 {
    background-color: #eeeeee;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;

    .red {
        width: 25%;
        height: 90%;
        background-color: #ce1212;
        display: flex;
        flex-direction: column;
        gap: 4vh;
        box-shadow: rgba(255, 117, 117, 0.35) 0px 5px 15px;
        &:hover {
            transform: scale(1.05);
            box-shadow: rgba(255, 117, 117, 0.35) 0px 5px 15px;
        }

        .learnMore {
            color: aliceblue;
            height: 6vh;
            width: 10vw;
            border-radius: 20px;
            background-color: #dd5a5a;
            border: none;
            
        }
    }

    .light1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-inline: 10px;
        gap: 0vh;
        gap: 2vw;
        width: 20%;
        height: 80%;
        background: #ffffff;
        box-shadow: rgba(255, 117, 117, 0.35) 0px 5px 15px;
        &:hover {
            transform: scale(1.05);
            box-shadow: rgba(255, 117, 117, 0.35) 0px 5px 15px;
        }

        .icon1 {
            height: 10vh;
            width: 5vw;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ce1212;
            background: #fae7e7;
            border-radius: 50%;
        }
    }

    .light2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-inline: 10px;
        gap: 0vh;
        gap: 2vw;
        width: 20%;
        height: 80%;
        background: #ffffff;
        box-shadow: rgba(255, 117, 117, 0.35) 0px 5px 15px;
            .icon1 {
                height: 10vh;
                width: 5vw;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #ce1212;
                background: #fae7e7;
                border-radius: 50%;
                
            }
        &:hover {
            transform: scale(1.05);
            box-shadow: rgba(255, 117, 117, 0.35) 0px 5px 15px;
        }
    }

    .light3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-inline: 10px;
        gap: 0vh;
        gap: 2vw;
        width: 20%;
        height: 80%;
        background: #ffffff;
        box-shadow: rgba(255, 117, 117, 0.35) 0px 5px 15px;
        .icon1 {
            height: 10vh;
            width: 5vw;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ce1212;
            background: #fae7e7;
            border-radius: 50%;
        }
        &:hover {
            transform: scale(1.05);
            box-shadow: rgba(255, 117, 117, 0.35) 0px 5px 15px;
        }
    }
}
// *

.sec-4 {
    color: #eeeeee;
    height: 50vh;
    background-image: url(../../../../public/images/img/stats-bg.jpg);
    background-size: cover;
    background-attachment: fixed;

    div {
        background: #0000008a;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1 {
        // z-index: inherit;
    }

    h5 {
        opacity: 50%;
    }
}

// *

.sec-5 {
    height: 210vh;
    background-color: #ffffff;

}

.first {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.menuContainer {
    display: grid;
    gap: 10vw;
    grid-template-columns: auto auto auto;
}

.menuImages {
    width: 300px;
    height: 300px;
}
// *

.sec-6{
    height: 70vh;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    #carouselExampleIndicators{
        width: 100%;
        height: 100%;
        .carousel-inner{
            width: 100%;
            height: 100%;
            .ci1{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #eeeeee;
                .container-ci1{
                    height: 40%;
                    width: 60%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    border-left: solid #ce1212;
                    .left-1{
                        width: 70%;
                    }
                    .profile-1{
                        height:70%;
                        width: 15%;
                        border: solid #ffffff ;
                        background: #000;
                        background-image: url(../../../../public/images/img/testimonials/testimonials-1\(1\).jpg);
                        background-repeat: no-repeat;
                        background-size: cover;
                        border-radius: 50%;
                    }
                }
            }
            .ci2{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #eeeeee;

                .container-ci2{
                    height: 40%;
                    width: 60%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    border-left: solid #ce1212;
                    .left-2{
                        width: 70%;
                    }
                    .profile-2{
                        height:70%;
                        width: 15%;
                        border: solid #ffffff ;
                        background: #000;
                        background-image: url(../../../../public/images/img/testimonials/testimonials-2.jpg);
                        background-repeat: no-repeat;
                        background-size: cover;
                        border-radius: 50%;
                    }
                }
            }
            .ci3{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #eeeeee;

                .container-ci3{
                    height: 40%;
                    width: 60%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    border-left: solid #ce1212;
                    .left-3{
                        width: 70%;
                    }
                    .profile-3{
                        height:70%;
                        width: 15%;
                        border: solid #ffffff ;
                        background: #000;
                        background-image: url(../../../../public/images/img/testimonials/testimonials-3.jpg);
                        background-repeat: no-repeat;
                        background-size: cover;
                        border-radius: 50%;
                    }
                }
            }
        }
    }

}

.sec-7{
    height: 80vh;
    background: white;
    display: block;
    justify-content: center;
    align-items: center;
}

// .carousel-inner{
//     background-color: #ce1212;
//     width: 100%;
//     height: 100%;
// }

.carousel-2-inner{
    display: flex;
}
.carousel-2-item{
    margin-right: 0;
    flex: 0 0 33.333333%;
    display: block;
}
.carousel-control-prev,
.carousel-control-next {
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}









// *
.sec-8 {
    background-color: #f7f7f7;
    .card{
        width: 30%;
    }
}
// *
.sec-9 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    gap: 2vh;

    .sec-9-container {
        background: #f7f7f7;
        width: 90%;
        height: 80%;
        display: flex;
        justify-content: space-between;

        .bg-image-2 {
            width: 30%;
            height: 100%;
            background-image: url(../../../../public/images/img/reservation.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }

        .your-information {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 70%;
            height: 100%;

            .input1 {
                width: 90%;
                height: 10%;
                display: flex;
                justify-content: space-evenly;

                input {
                    width: 30%;
                    height: 70%;
                }
            }

            .input2 {
                width: 90%;
                height: 10%;
                display: flex;
                justify-content: space-evenly;

                input {
                    width: 30%;
                    height: 70%;

                }
            }

            .textarea {
                width: 90%;
                height: 40%;
                padding-inline: 1.3vw;

                textarea {
                    height: 100%;
                }
            }

            .btn-information {
                padding-top: 1vh;

                button {
                    color: aliceblue;
                    height: 6vh;
                    width: 15vw;
                    border-radius: 20px;
                    background-color: (#ce1212);
                    border: none;
                }
            }
        }
    }
}

// *

.sec-11 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200vh;
    .fourDivs {
        width: 80%;
        height: 50vh;
        display: grid;
        justify-content: space-between;
        align-items: center;
        // padding-inline: 2vw;
        grid-template-columns: auto auto;
        .adress {
            height: 15vh;
            width: 35vw;
            background: #f7f7f7;
            text-align: start;
            display: flex;
            align-items: center;
            gap: 1vw;
            .adress-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 70px;
                height: 70px;
                border-radius: 50%;
                background-color: (#ce1212);
                color: #eeeeee;
                padding: 20px;
            }
        }

        .email {
            height: 15vh;
            width: 40vw;
            text-align: start;
            display: flex;
            align-items: center;
            gap: 1vw;
            padding-left: 1vw;
            background: #f7f7f7;

            .email-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 70px;
                height: 70px;
                border-radius: 50%;
                background-color: (#ce1212);
                color: #eeeeee;
                padding: 20px;
            }
        }

        .call {
            height: 15vh;
            width: 35vw;
            text-align: start;
            display: flex;
            align-items: center;
            gap: 1vw;
            padding-left: 1vw;
            background: #f7f7f7;

            .call-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 70px;
                height: 70px;
                border-radius: 50%;
                background-color: (#ce1212);
                color: #eeeeee;
                padding: 20px;
            }
        }

        .opening {
            height: 15vh;
            // width: 35vw;
            text-align: start;
            display: flex;
            align-items: center;
            gap: 1vw;
            padding-left: 1vw;
            background: #f7f7f7;

            .opening-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 70px;
                height: 70px;
                border-radius: 50%;
                background-color: (#ce1212);
                color: #eeeeee;
                padding: 20px;
            }
        }

    }

    .contactUS{
        height: 60vh;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3vh;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        .subjectParent{
            display: flex;
            justify-content: space-between;
        }
        .subject{
            width: 100%;
            height: 8vh;
        }
        .name{
            width: 49%;
            height: 8vh;
        }
        .email{
            width: 49%;
            height: 8vh;
        }

        .message{
            height: 25vh;
            textarea{
                height: 100%;
            }
        }
        .btn-message {
            padding-top: 1vh;

            button {
                color: aliceblue;
                height: 6vh;
                width: 15vw;
                border-radius: 20px;
                background-color: (#ce1212);
                border: none;
            }
        }
    }
}


























footer {
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.795);

    .infos {
        .info {
            display: flex;
            width: 20%;

            i {
                font-size: 24px;
                padding-top: 3px;
            }
            div {
                padding-left: 16px;
                p{
                    margin: 0;
                }
            }


            &:last-child {
                div {
                    .icons {
                        display: flex;
                        gap: 16px;
                        padding: 0;

                        i {
                            font-size: 16px;
                            border: 1px solid white;
                            border-radius: 50%;
                            padding: 8px;
                        }
                    }
                }
            }
        }
    }

    .copyright {
        border-top: 1px solid rgba(129, 129, 129, 0.774);
        p {
            padding-top: 16px;
            width: 20vw;
            text-align: center;
        }
    }
}