* {
    margin: 0;
    padding: 0;
}

.sec-1 {
    background-color: #eeeeee;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;

    .titre1 {
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }

    .title {
        width: 30vw;
    }

    .t-paragraphe {
        width: 30vw;
    }

    .buttons {
        display: flex;
        gap: 5vw;
        padding-inline: 10px;

        .book {
            color: aliceblue;
            height: 6vh;
            width: 10vw;
            border-radius: 20px;
            background-color: (#ce1212);
            border: none;
        }

        .watch {
            border: none;
            height: 6vh;
            width: 10vw;
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: transparent;

            .play {
                font-size: xx-large;
            }
        }
    }
}

// *

.sec-2 {
    height: 115vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .right-div {
        width: 30%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .up {
            height: 40%;
            width: 30vw;
            display: flex;
            flex-direction: column;
            padding-bottom: 20px;
            gap: 1vh;
        }

        .down {
            background-image: url(../../../../public/images/img/about-2.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            width: 30vw;
            height: 40%;
        }
    }

    .bg-image {
        background-image: url(../../../../public/images/img/about\(1\).jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 60%;
        height: 90%;
        display: flex;
        position: relative;

        .white {
            height: 13vh;
            width: 10vw;
            padding: 10px;
            position: absolute;
            bottom: 5vh;
            right: 13vw;
        }
    }
}

// * 

.sec-3 {
    background-color: #eeeeee;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;

    .red {
        width: 25%;
        height: 90%;
        background-color: #ce1212;
        display: flex;
        flex-direction: column;
        gap: 4vh;
        box-shadow: rgba(255, 117, 117, 0.35) 0px 5px 15px;
        &:hover {
            transform: scale(1.05);
            box-shadow: rgba(255, 117, 117, 0.35) 0px 5px 15px;
        }

        .learnMore {
            color: aliceblue;
            height: 6vh;
            width: 10vw;
            border-radius: 20px;
            background-color: #dd5a5a;
            border: none;
            
        }
    }

    .light1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-inline: 10px;
        gap: 0vh;
        gap: 2vw;
        width: 20%;
        height: 80%;
        background: #ffffff;
        box-shadow: rgba(255, 117, 117, 0.35) 0px 5px 15px;
        &:hover {
            transform: scale(1.05);
            box-shadow: rgba(255, 117, 117, 0.35) 0px 5px 15px;
        }

        .icon1 {
            height: 10vh;
            width: 5vw;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ce1212;
            background: #fae7e7;
            border-radius: 50%;
        }
    }

    .light2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-inline: 10px;
        gap: 0vh;
        gap: 2vw;
        width: 20%;
        height: 80%;
        background: #ffffff;
        box-shadow: rgba(255, 117, 117, 0.35) 0px 5px 15px;
            .icon1 {
                height: 10vh;
                width: 5vw;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #ce1212;
                background: #fae7e7;
                border-radius: 50%;
                
            }
        &:hover {
            transform: scale(1.05);
            box-shadow: rgba(255, 117, 117, 0.35) 0px 5px 15px;
        }
    }

    .light3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-inline: 10px;
        gap: 0vh;
        gap: 2vw;
        width: 20%;
        height: 80%;
        background: #ffffff;
        box-shadow: rgba(255, 117, 117, 0.35) 0px 5px 15px;
        .icon1 {
            height: 10vh;
            width: 5vw;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ce1212;
            background: #fae7e7;
            border-radius: 50%;
        }
        &:hover {
            transform: scale(1.05);
            box-shadow: rgba(255, 117, 117, 0.35) 0px 5px 15px;
        }
    }
}

