* {
    margin: 0;
    padding: 0;
}

.sec-1 {
    background-color: #eeeeee;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;

    .titre1 {
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }

    .title {
        width: 30vw;
    }

    .t-paragraphe {
        width: 30vw;
    }

    .buttons {
        display: flex;
        gap: 5vw;
        padding-inline: 10px;

        .book {
            color: aliceblue;
            height: 6vh;
            width: 10vw;
            border-radius: 20px;
            background-color: (#ce1212);
            border: none;
        }

        .watch {
            border: none;
            height: 6vh;
            width: 10vw;
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: transparent;

            .play {
                font-size: xx-large;
            }
        }
    }
}

// *

.sec-2 {
    height: 115vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .right-div {
        width: 30%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .up {
            height: 40%;
            display: flex;
            flex-direction: column;
            padding-bottom: 20px;
            gap: 1vh;
        }

        .down {
            background-image: url(../../../../public/images/img/about-2.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            width: 30vw;
            height: 40%;
        }
    }

    .bg-image {
        background-image: url(../../../../public/images/img/about\(1\).jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 60%;
        height: 90%;
        display: flex;
        position: relative;

        .white {
            height: 13vh;
            width: 10vw;
            padding: 10px;
            position: absolute;
            bottom: 5vh;
            right: 13vw;
        }
    }
}

// * 

.sec-3 {
    background-color: #eeeeee;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;

    .red {
        width: 25%;
        height: 90%;
        background-color: #ce1212;
        display: flex;
        flex-direction: column;
        gap: 4vh;
        box-shadow: rgba(255, 117, 117, 0.35) 0px 5px 15px;
        &:hover {
            transform: scale(1.05);
            box-shadow: rgba(255, 117, 117, 0.35) 0px 5px 15px;
        }

        .learnMore {
            color: aliceblue;
            height: 6vh;
            width: 10vw;
            border-radius: 20px;
            background-color: #dd5a5a;
            border: none;
            
        }
    }

    .light1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-inline: 10px;
        gap: 0vh;
        gap: 2vw;
        width: 20%;
        height: 80%;
        background: #ffffff;
        box-shadow: rgba(255, 117, 117, 0.35) 0px 5px 15px;
        &:hover {
            transform: scale(1.05);
            box-shadow: rgba(255, 117, 117, 0.35) 0px 5px 15px;
        }

        .icon1 {
            height: 10vh;
            width: 5vw;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ce1212;
            background: #fae7e7;
            border-radius: 50%;
        }
    }

    .light2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-inline: 10px;
        gap: 0vh;
        gap: 2vw;
        width: 20%;
        height: 80%;
        background: #ffffff;
        box-shadow: rgba(255, 117, 117, 0.35) 0px 5px 15px;
            .icon1 {
                height: 10vh;
                width: 5vw;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #ce1212;
                background: #fae7e7;
                border-radius: 50%;
                
            }
        &:hover {
            transform: scale(1.05);
            box-shadow: rgba(255, 117, 117, 0.35) 0px 5px 15px;
        }
    }

    .light3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-inline: 10px;
        gap: 0vh;
        gap: 2vw;
        width: 20%;
        height: 80%;
        background: #ffffff;
        box-shadow: rgba(255, 117, 117, 0.35) 0px 5px 15px;
        .icon1 {
            height: 10vh;
            width: 5vw;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ce1212;
            background: #fae7e7;
            border-radius: 50%;
        }
        &:hover {
            transform: scale(1.05);
            box-shadow: rgba(255, 117, 117, 0.35) 0px 5px 15px;
        }
    }
}
// *

.sec-4 {
    color: #eeeeee;
    height: 50vh;
    background-image: url(../../../../public/images/img/stats-bg.jpg);
    background-size: cover;
    background-attachment: fixed;

    div {
        background: #0000008a;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1 {
        // z-index: inherit;
    }

    h5 {
        opacity: 50%;
    }
}

// *

.sec-5 {
    height: 210vh;
    background-color: #ffffff;

}

.first {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.menuContainer {
    display: grid;
    gap: 10vw;
    grid-template-columns: auto auto auto;
}

.menuImages {
    width: 300px;
    height: 300px;
}
// *

.sec-6{
    height: 90vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}














// *
.sec-7 {
    background-color: #f7f7f7;
    .card{
        width: 30%;
    }
}
// *
.sec-8 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    gap: 2vh;

    .sec-8-container {
        background: #f7f7f7;
        width: 90%;
        height: 80%;
        display: flex;
        justify-content: space-between;

        .bg-image-2 {
            width: 30%;
            height: 100%;
            background-image: url(../../../../public/images/img/reservation.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }

        .your-information {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 70%;
            height: 100%;

            .input1 {
                width: 90%;
                height: 10%;
                display: flex;
                justify-content: space-evenly;

                input {
                    width: 30%;
                    height: 70%;
                }
            }

            .input2 {
                width: 90%;
                height: 10%;
                display: flex;
                justify-content: space-evenly;

                input {
                    width: 30%;
                    height: 70%;

                }
            }

            .textarea {
                width: 90%;
                height: 40%;
                padding-inline: 1.3vw;

                textarea {
                    height: 100%;
                }
            }

            .btn-information {
                padding-top: 1vh;

                button {
                    color: aliceblue;
                    height: 6vh;
                    width: 15vw;
                    border-radius: 20px;
                    background-color: (#ce1212);
                    border: none;
                }
            }
        }
    }
}

// *

.sec-10 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200vh;
    .fourDivs {
        width: 80%;
        height: 50vh;
        display: grid;
        justify-content: space-between;
        align-items: center;
        // padding-inline: 2vw;
        grid-template-columns: auto auto;
        .adress {
            height: 15vh;
            width: 35vw;
            background: #f7f7f7;
            text-align: start;
            display: flex;
            align-items: center;
            gap: 1vw;
            .adress-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 70px;
                height: 70px;
                border-radius: 50%;
                background-color: (#ce1212);
                color: #eeeeee;
                padding: 20px;
            }
        }

        .email {
            height: 15vh;
            width: 40vw;
            text-align: start;
            display: flex;
            align-items: center;
            gap: 1vw;
            padding-left: 1vw;
            background: #f7f7f7;

            .email-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 70px;
                height: 70px;
                border-radius: 50%;
                background-color: (#ce1212);
                color: #eeeeee;
                padding: 20px;
            }
        }

        .call {
            height: 15vh;
            width: 35vw;
            text-align: start;
            display: flex;
            align-items: center;
            gap: 1vw;
            padding-left: 1vw;
            background: #f7f7f7;

            .call-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 70px;
                height: 70px;
                border-radius: 50%;
                background-color: (#ce1212);
                color: #eeeeee;
                padding: 20px;
            }
        }

        .opening {
            height: 15vh;
            // width: 35vw;
            text-align: start;
            display: flex;
            align-items: center;
            gap: 1vw;
            padding-left: 1vw;
            background: #f7f7f7;

            .opening-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 70px;
                height: 70px;
                border-radius: 50%;
                background-color: (#ce1212);
                color: #eeeeee;
                padding: 20px;
            }
        }

    }

    .contactUS{
        height: 60vh;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3vh;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        .subjectParent{
            display: flex;
            justify-content: space-between;
        }
        .subject{
            width: 100%;
            height: 8vh;
        }
        .name{
            width: 49%;
            height: 8vh;
        }
        .email{
            width: 49%;
            height: 8vh;
        }

        .message{
            height: 25vh;
            textarea{
                height: 100%;
            }
        }
        .btn-message {
            padding-top: 1vh;

            button {
                color: aliceblue;
                height: 6vh;
                width: 15vw;
                border-radius: 20px;
                background-color: (#ce1212);
                border: none;
            }
        }
    }
}