@media (max-width:426px) {
    .sec-1{
        background-color: rgb(225, 225, 193);
        height: 100vh;
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
        align-items: center;
        .titre1{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2vh;
        }
        .title{
            width:300px;
            text-align: center;
        }
        .t-paragraphe{
            width:400px;
            text-align: center;
        }
        .buttons{
            align-items: center;
            justify-content: center;
            .book{
                height: 6vh;
                width: 150px;
            }
            .watch{
                width: 150px;
                .play{
                    font-size:xx-large;
                }
            }
        }
    }
    .forImage{

        .image{
            width:400px;
            height: 400px;
        }
    }
    




    .sec-2 {
        height: 200vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;

        .right-div {
            width: 100%;
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
    
            .up {
                height: 40%;
                display: flex;
                flex-direction: column;
                padding-bottom: 20px;
                gap: 1vh;
            }
    
            .down {
                background-image: url(../../../../public/images/img/about-2.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                width:100%;
                height: 40%;
            }
        }
    
        .bg-image {
            background-image: url(../../../../public/images/img/about\(1\).jpg);
            background-size: cover;
            background-repeat: no-repeat;
            width:100%;
            height:70vh;
            display: flex;
            justify-content: center;
            align-items: center;
            .white {
                height: 18vh;
                width: 10vw;
            }
        }
    }


.sec-3 {
    background-color: #eeeeee;
    height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    gap: 5vh;
    align-items: center;
    .red {
        width: 90%;

        .learnMore {
            color: aliceblue;
            height: 6vh;
            width: 40vw;
            border-radius: 20px;
            background-color: #dd5a5a;
            border: none;
        }
    }

    .light1 {
        width: 90%;
        .icon1 {
            height: fit-content;
            width: fit-content;
            padding: 20px;
        }
    }
    .light2 {
        width: 90%;
            .icon1 {
                height: fit-content;
                width: fit-content;
                padding: 20px;
            }
    }
    .light3 {
        width: 90%;
        .icon1 {
            height: fit-content;
            width: fit-content;
            padding: 20px;
        }
    }
}

.sec-4 {
    color: #eeeeee;
    height: 120vh;
    background-image: url(../../../../public/images/img/stats-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    
    div {
        background: #0000008a;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}   

.sec-5 {
    height: 500vh;
    background-color: #ffffff;

}
.first {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.menuContainer {
    display: flex;
    flex-direction: column;
    gap: 10vw;
}
.menuImages {
    width: 300px;
    height: 300px;
}

.sec-7 {
    background-color: #f7f7f7;
    .cards1{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0;
        gap: 5vh;
        .card{
            width: 100%;
        }
    }
}

.sec-8 {
    height: 300vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    .sec-8-container {
        display: flex;
        flex-direction: column;

        .bg-image-2 {
            width: 100%;
            height: 70vh;
            background-image: url(../../../../public/images/img/reservation.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }

        .your-information {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
            height: 150vh;
            gap: 0;
            // gap: 2vh;
            .input1 {
                width: 100%;
                height: 10vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 0;
                gap: 2vh;
                input {
                    width: 90%;
                    // height: 70%;
                }
            }

            .input2 {
                width: 100%;
                height: 20vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0;
                gap: 2vh;
                input {
                    width: 90%;
                }
            }
            .textarea {
                width: 90%;
                // height: 40%;
                // padding-inline: 1.3vw;
                textarea {
                    height: 100%;
                }
            }
            .btn-information {
                width: 50%;
                button {
                    color: aliceblue;
                    height: 6vh;
                    width: 100%;
                    border-radius: 20px;
                    background-color: (#ce1212);
                    border: none;
                }
            }
        }
    }
}

.sec-10 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400vh;
    .fourDivs {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        // padding-inline: 2vw;
        .adress {
            height: 15vh;
            width: 90%;
            background: #f7f7f7;
            text-align: start;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: 1vw;

        }

        .email {
            height: 15vh;
            width:90%;
            text-align: start;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: 1vw;
            padding-left: 1vw;

        }

        .call {
            height: 15vh;
            width: 90%;
            text-align: start;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: 1vw;
            gap: 0vh;
            background: #f7f7f7;
            .call-p{
                width: 55%;
            }
        }
        .opening {
            height: 15vh;
            width: 90%;
            text-align: start;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            // gap: 1vw;
            // padding-left: 1vw;
            background: #f7f7f7;
            .opening-p{
                width: 50%;
            }
        }
    }

    .contactUS{
        height: 80vh;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3vh;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        .subjectParent{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 0;
            gap: 2vh;
        }
        .subject{
            width: 100%;
            height: 8vh;
        }
        .name{
            width: 100%;
            height: 8vh;
        }
        .email{
            width: 100%;
            height: 8vh;
        }

        .message{
            height: 25vh;
            textarea{
                height: 100%;
            }
        }
        .btn-message {
            padding-top: 1vh;
            width: 100%;

            button {
                color: aliceblue;
                height: 6vh;
                width: 60%;
                border-radius: 20px;
                background-color: (#ce1212);
                border: none;
            }
        }
    }
}

















}