@media (max-width:426px) {
    .sec-1{
        background-color: rgb(225, 225, 193);
        height: 100vh;
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
        align-items: center;
        .titre1{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2vh;
        }
        .title{
            width:300px;
            text-align: center;
        }
        .t-paragraphe{
            width:400px;
            text-align: center;
        }
        .buttons{
            align-items: center;
            justify-content: center;
            .book{
                height: 6vh;
                width: 150px;
            }
            .watch{
                width: 150px;
                .play{
                    font-size:xx-large;
                }
            }
        }
    }
    .forImage{

        .image{
            width:400px;
            height: 400px;
        }
    }
    




    .sec-2 {
        height: 200vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;

        .right-div {
            width: 100%;
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
    
            .up {
                height: 40%;
                display: flex;
                flex-direction: column;
                padding-bottom: 20px;
                gap: 1vh;
            }
    
            .down {
                background-image: url(../../../../public/images/img/about-2.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                width:100%;
                height: 40%;
            }
        }
    
        .bg-image {
            background-image: url(../../../../public/images/img/about\(1\).jpg);
            background-size: cover;
            background-repeat: no-repeat;
            width:100%;
            height:70vh;
            display: flex;
            justify-content: center;
            align-items: center;
            .white {
                height: 18vh;
                width: 10vw;
            }
        }
    }


.sec-3 {
    background-color: #eeeeee;
    height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    gap: 5vh;
    align-items: center;
    .red {
        width: 90%;

        .learnMore {
            color: aliceblue;
            height: 6vh;
            width: 40vw;
            border-radius: 20px;
            background-color: #dd5a5a;
            border: none;
        }
    }

    .light1 {
        width: 90%;
        .icon1 {
            height: fit-content;
            width: fit-content;
            padding: 20px;

        }
    }

    .light2 {

        width: 90%;

            .icon1 {
                height: fit-content;
                width: fit-content;
                padding: 20px;
            }
    }
    .light3 {
        width: 90%;
        .icon1 {
            height: fit-content;
            width: fit-content;
            padding: 20px;
        }
    }
}

















}